name: Dispatch
on:
  push:
    branches:
      - main
  workflow_dispatch:
  repository_dispatch: 
  
jobs:
  build:
    name: Build & Package
    runs-on: ubuntu-latest

    steps:
      - name: Set up environment
        run: |
          echo "RUN";

