name: Build & Package
on:
  push:
    branches:
      - main
  workflow_dispatch:
  repository_dispatch: 
  
jobs:
  build:
    name: Build & Package
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      
    steps:
       - name: checkout
         uses: actions/checkout@6.4
         
         
